.browzine-icon  {
    margin-right:2px;
}

.browzine-external-link {
    width:15px;
    height:15px;
    min-width:15px;
    min-height:15px;
}

.browzine-link-label:after {
    content: 'TM';
    vertical-align: super;
    font-size: 9px;
}
