.body-margin {
    padding-top: 20px;
}
.sandbox-label {
    position: fixed;
    top: 0px;
    width: 100%;
    text-align: center;
    height: 20px;
    line-height: 20px;
    background-color: #00629B;
    color: #FFFF00;
    font-weight: bold;
    font-size: 15px;
    opacity: 0.8;
    z-index: 16777271;
}
