.body-margin {
    margin-top: 25px;
}
.sandbox-label {
    position: fixed;
    top: 0px;
    width: 100%;
    text-align: center;
    height: 25px;
    line-height: 25px;
    background-color: #00629B;
    color: #FFFF00;
    font-weight: bold;
    font-size: 16px;
    opacity: 0.8;
    z-index: 16777271;
}
